h1
  = title 'Support' 
p 
  | Wir freuen uns über Feedback. Bei technischen Fragen, oder Problemen im Umgang mit der App, wenden Sie sich doch bitte direkt an unseren Techniker unter der E-Mail-Adresse 
  a href="mailto: markus.graf@zhaw.ch"markus.graf@zhaw.ch  
  | oder telefonisch unter  
  a href="tel: +41 58 934 82 93" +41 58 934 82 93
  | . 

h2 Impressum
address 
  | ZHAW Zürcher Hochschule für
  br
  | Angewandte Wissenschaften
  br
  | Departement Angewandte Psychologie
  br
  | Pfingstweidstrasse 96
  br
  | Postfach 707  
  br
  | CH-8037 Zürich
  br
  br
  a href="tel: +41 58 934 83 20" Telefon: +41 58 934 83 20
  br
  a href="mailto: markus.graf@zhaw.ch"E-Mail: markus.graf@zhaw.ch
