h1
  = title 'Allgemeine Geschäftsbedingungen'

h2 Nutzungsbedingungen
p Die Nutzung der App Elterndiagnostik ist kostenlos. Um die App nutzen zu können, müssen Sie sich einmalig registrieren. Beim Registrieren werden Vorname und Name erfasst. Ihr vollständiger Name erscheint auf Ihren individuellen Profilen.

h2 Vertraulichkeit / Sicherheit
p Sämtliche Daten in der App Elterndiagnostik werden durch die ZHAW streng vertraulich behandelt und nicht an Dritte weitergegeben. Sie werden zu Forschungszwecken und für die Weiterentwicklung der App verwendet, wobei keine Rückschlüsse auf einzelne Personen gezogen werden. Nur diejenigen Mitarbeitenden haben Zugang zu Ihren Daten, welche diese zur Erfüllung ihrer Aufgaben benötigen. Die gesammelten Daten werden nur zum jeweils deklarierten Zweck erhoben und nicht weitergegeben. Die von Ihnen in ein Formular eingegebenen Daten werden verschlüsselt übermittelt. Die Online-Übermittlung persönlicher Daten erfolgt auf eigenes Risiko. Die von Ihnen übermittelten Daten werden auf unseren Servern gespeichert, mit aller Sorgfalt aufbewahrt und vor Zugriffen Dritter geschützt.

h2 Haftungsausschluss
p ZHAW übernimmt keinerlei Gewähr für Aktualität, Korrektheit, Vollständigkeit und Qualität der bereitgestellten Informationen. Die ZHAW behält sich ausdrücklich vor, diese Informationen jederzeit und ohne vorherige Ankündigung zu verändern. Haftungsansprüche gegen die ZHAW wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen (insbesondere Ergebnisse und Handlungsempfehlungen), durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden soweit gesetzlich zulässig ausgeschlossen. 

p ZHAW übernimmt keine Haftung für die Verwendung der App Elterndiagnostik und die Verwaltung Ihrer Daten durch Beratungspersonen.
