<ion-pane>
  <ion-content class="scroll-content" ng-controller="IdentificationCheckEmailController">
    <form name="emailform">
      <div class="list">
        <div class="item  item-text-wrap assertive" ng-show="errors" ng-repeat="(key, value) in errors">
          <strong>{{key}}</strong>
          {{value.join(', ')}}
        </div>
        <div class="item item-image">
          <img src="img/logo_IAP_A5_rgb.jpg" class="logo"/>
        </div>
        <div class="item  item-text-wrap">
          <p>Mit Hilfe dieser App können Sie zu verschiedenen Tageszeiten Ihre aktuelle Erziehungskompetenz und Ihre elterlichen Grundbedürfnisse erfassen. Die App ist zur Unterstützung des Beratungsprozesses entwickelt worden und sollte auch in die Beratung eingebettet werden.</p>
          <p>Die Nutzung ist kostenlos. Um die App nutzen zu können, müssen Sie sich einmalig registrieren. Falls Sie sich schon registriert haben, können Sie sich direkt anmelden mit Ihrer E-Mail und Ihrem Passwort.</p>
          <p>Die Daten werden streng vertraulich behandelt. Sie werden zu Forschungszwecken und für die Weiterentwicklung der App verwendet. Dabei können keine Rückschlüsse auf einzelne Personen gezogen werden.</p>
        </div>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{'user.email' | translate}}</span>
          <input type="email" placeholder="hans@muster.tld" ng-model="user.email" validate-email required>
        </label>
        <div class="item item-submit">
          <input type="submit" value="{{'shared.next' | translate}}" class="button button-positive button-block" ng-disabled="emailform.$invalid" ng-click="checkEmail()"/>
        </label>
      </div>
    </form>
  </ion-content>
</ion-pane>
