<ion-pane>
  <div class="bar bar-header bar-light">
    <a class="button icon ion-ios-arrow-left button-clear button-dark" href="#/identification/email"></a>
    <h1 class="title">{{'identification.register' | translate}}</h1>
  </div>
  <ion-content class="scroll-content has-header" ng-controller="IdentificationRegistrationController">
    <form name="form">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{'user.password' | translate}}</span>
          <input type="password" name="password" ng-model="user.password" ng-minlength="4" ng-focus="password_focus = true" ng-blur="password_focus = false" required>
          <div class="assertive" ng-show="form.password.$error.minlength">
            {{'registration.password_to_short' | translate}}
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{'user.password_confirmation' | translate}}</span>
          <input type="password" ng-model="user.password_confirmation" same-as="user.password" ng-minlength="4" ng-focus="password_confirmation_focus = true" ng-blur="password_confirmation_focus = false" required>
          <div class="assertive" ng-hide="!user.password || password_focus || user.password == user.password_confirmation">
            {{'registration.password_does_not_match' | translate}}
          </div>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{'user.first_name' | translate}}</span>
          <input type="text" ng-model="user.first_name" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{'user.last_name' | translate}}</span>
          <input type="text" ng-model="user.last_name" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{'user.birth_date' | translate}}</span>
          <input type="date" ng-model="date_object" ng-change="user.birth_date = date_object.toString(); console.log(user.birth_date)" required>
        </label>
        
        <div class="item item-divider">{{'user.gender' | translate}}</div>
        <ion-radio ng-model="user.gender" ng-value="0" name="gender" required><i class="icon ion-female"></i> {{'user.genders.female' | translate}}</ion-radio>
        <ion-radio ng-model="user.gender" ng-value="100" name="gender" required><i class="icon ion-male"> {{'user.genders.male' | translate}}</i></ion-radio>
        <ion-radio ng-model="user.gender" ng-value="50" name="gender" required><i class="icon ion-transgender"> {{'user.genders.others' | translate}}</i></ion-radio>
                
        <label class="item item-submit item-stacked-label">
          <input type="submit" value="{{'shared.next' | translate}}" class="button button-positive button-block" ng-disabled="form.$invalid" ng-click="register()"/>
        </label>
      </div>
    </form>
  </ion-content>
</ion-pane>
