h2 = "Hallo #{@resource.full_name},"

p es wurde ein Link zum Ändern Ihres Passwortes angefordert. Sie können das Passwort über den unten stehenden Link ändern.

p = link_to 'Mein Passwort ändern', edit_user_password_url(I18n.locale, reset_password_token: @token)

p Wenn Sie keine Änderung angefordert haben, können Sie dieses E-Mail ignorieren.
p Ihr Passwort wird nicht angepasst bis Sie über den oben stehenden Link ein Neues erstellen.
