
path.ct-line {
  stroke-width: 2px;
}

g.col0 {
  stroke: #0066ff;
  fill: #0066ff;
  stroke-dasharray: 10px;
}

g.col1 {
  stroke: rgb(52, 168, 83);
  fill: rgb(52, 168, 83);
  stroke-dasharray: 10px;
}

g.col2 {
  stroke: #ff8000;
  fill: #ff8000;
  stroke-dasharray: 10px;
}

g.parenting_competences_self_efficacy {
  stroke: #0066ff;
  fill: #0066ff;
  stroke-dasharray: none;
}

g.parenting_competences_satisfaction {
  stroke: rgb(52, 168, 83);
  fill: rgb(52, 168, 83);
  stroke-dasharray: none;
}

g.parenting_basic_needs_bonding {
  stroke: #0066ff;
  fill: #0066ff;
  stroke-dasharray: 2;
}

g.parenting_basic_needs_self_esteem {
  stroke: rgb(52, 168, 83);
  fill: rgb(52, 168, 83);
  stroke-dasharray: 2;
}

g.parenting_basic_needs_control {
  stroke: orange;
  fill: orange;
  stroke-dasharray: 2;
}

g.parenting_basic_needs_autonomy {
  stroke: red;
  fill: red;
  stroke-dasharray: 2;
}



@media (max-width : 1024px) {
  session-chart .ct-label.ct-horizontal {
    font-size: 1.5vw;
    transform: translate(0%, 80%) rotate(15deg);
  }
}
@media (min-width : 1024px) {
  session-chart .ct-label.ct-horizontal {
    font-size: 16px;
  }
}
session-chart .ct-bar {
  stroke-width: 40px;
}
session-chart .ct-bar {
  stroke-dasharray: none;
}
