
line.ct-bar {
  stroke-width: 0.8vw;
}
path.ct-line {
  stroke-width: 2px;
}

g.col0 {
  stroke: #0066ff;
  fill: #0066ff;
  stroke-dasharray: 10px;
}

g.col1 {
  stroke: rgb(52, 168, 83);
  fill: rgb(52, 168, 83);
  stroke-dasharray: 10px;
}

g.col2 {
  stroke: #ff8000;
  fill: #ff8000;
  stroke-dasharray: 10px;
}

g.parenting_skills {
  stroke: #0066ff;
  fill: #0066ff;
  stroke-dasharray: none;
}

g.parenting_basic_needs {
  stroke: rgb(52, 168, 83);
  fill: rgb(52, 168, 83);
  stroke-dasharray: none;
}


@media (max-width : 1024px) {
  session-chart .ct-label.ct-horizontal {
    font-size: 1.5vw;
    transform: translate(0%, 80%) rotate(15deg);
  }
}
@media (min-width : 1024px) {
  session-chart .ct-label.ct-horizontal {
    font-size: 16px;
  }
}
session-chart .ct-bar {
  stroke-width: 40px;
}
session-chart .ct-bar {
  stroke-dasharray: none;
}
