/* Empty. Add your own CSS if you like */
.bipolar-text {
  display: block;
  width: 100%;
}
.item .rangeslider {
  clear: both;
  margin: 30px 30px;
}
.bipolar-text {
  white-space: initial;
}
.bipolar-text .left {
  width: 50%;
  float: left;
  padding-bottom: 1em;
}
.logo {
  max-width: 400px;
  padding: 10px;
}
.bipolar-text .right {
  width: 50%;
  float: right;
  text-align: right;
  padding-bottom: 1em;
}
 
 .online_state {
   text-align: center;
   margin-top: 40px !important;
 }

 .online_state .spinner svg {
   width: 19% !important;
   height: 85px !important;
   margin-bottom: 40px !important;
 }

.list .item-image img {
  max-width: 400px;
}

table.session_list {
  width: 100%;
}
table.session_list tr td {
  vertical-align: bottom;
  text-align:center;
}
table.session_list tr td .session {
  display: inline;
}
table.session_list tr td .session img {
  width: 20%;
}
.item-thumbnail-left .item-content > img:first-child, .item-thumbnail-left .item-content .item-image {
  width: auto;
  height: auto;
}

ul.list .disabled {
  color: rgba(0, 0, 0, 0.4);
}

.session-image {
  width: 50% !important;
}

.item.chinese_character {
  font-family: "Microsoft YaHei";
  color: black;
  font-size: 10em;
  line-height: 1em;
  text-align: center;
}
